<link href="@Url.Content("~/assets/css/pages/extra_pages.css")" rel="stylesheet" type="text/css" />
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-line">
                    <div class="tab-content">
                        <div class="tab-pane active fontawesome-demo" id="tab1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-title">
                                        <h1>Ошибка сервера!</h1>
                                    </div>
                                    <!-- Login Form-->
                                    <div class="page-404-form text-center">
                                        <div class="toggle">
                                            <a asp-action="Index"><i class="fa fa-times white-color"></i></a>
                                        </div>
                                        <div class="form">
                                            <h1>500</h1>
                                            <h3>Oops! Сервер не отвечает.</h3>
                                            <h4>Возможно сервер отключён. Включите и обновите страницу.</h4>
                                        </div>   
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
