<div class="page-content-wrapper">
	<div class="page-content" style="min-height:1539px">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="card card-box">
					<div class="card-head">
						<header>Внимание!</header>
					</div>
					<div class="card-body" id="bar-parent">						
						<div class="form-body">
							<div class="form-group row">
								<div class="content-center">
									<h3>Такое наименование уже существует!</h3>
								</div>
							</div>
							<div class="form-actions">
								<div class="row">
									<div class="offset-md-5 col-md-7">
										<a onclick="window.history.back();" class="btn btn-default">Понятно</a>
									</div>
								</div>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>