@model AgroPharm.Models.ViewModel
@{
	double? oldQuantity = Model.tempQuantity;
}
<div class="page-content-wrapper">
	<div class="page-content">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="card">
					<div class="card-head">
						<header>Редактирование возврата от покупателя</header>
					</div>
					<div class="card-body" id="bar-parent">
						<form id="editProductForm" asp-controller="ReturnIn" asp-action="Edit" class="form-horizontal" method="post">
							<div class="form-body">
								<div class="form-group row">
									<label class="control-label col-md-3">
										Наименование товара <span class="required"> * </span>
									</label>
									<div class="col-md-5">
										<select class="form-control input-height" asp-for="ReturnInRequest.ProductNameID" asp-items="Model.Products" required>
											<option value="Response.ProductName"></option>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-3">
										Наименовании покупателя <span class="required"> * </span>
									</label>
									<div class="col-md-5">
										<select class="form-control input-height" asp-for="ReturnInRequest.CustomerNameID" asp-items="Model.Customers" required>
											<option value="Response."></option>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-3">
										Цена (TJS)
										<span class="required"> * </span>
									</label>
									<div class="col-md-5">
										<input type="number" id="priceTJS" asp-for="ReturnInRequest.ReturnInProductPrice" placeholder="Введите цену товара TJS" class="form-control input-height" step="0.01" min="0.01" required />
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-3">
										Цена (USD)
										<span class="required"> * </span>
									</label>
									<div class="col-md-5">
										<input type="number" id="priceUSD" asp-for="ReturnInRequest.ReturnInProductPriceUSD" placeholder="Введите цену товара в USD" class="form-control input-height" step="0.01" min="0.01" required />
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-3">
										Количество товара
										<span class="required"> * </span>
									</label>
									<div class="col-md-5">
										<input type="number" id="quantity" asp-for="ReturnInRequest.ReturnInProductObem" placeholder="Введите количество" class="form-control input-height" min="0.01" required />
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-3">
										Сумма (TJS)
										<span class="required"> * </span>
									</label>
									<div class="col-md-5">
										<input type="number" id="sumTJS" asp-for="ReturnInRequest.ReturnInProductSumPrice" placeholder="Сумма TJS" class="form-control input-height" readonly />
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-3">
										Сумма (USD)
										<span class="required"> * </span>
									</label>
									<div class="col-md-5">
										<input type="number" id="sumUSD" asp-for="ReturnInRequest.ReturnInProductSumPriceUSD" placeholder="Сумма USD" class="form-control input-height" readonly />
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-md-3">
										Комментарий
									</label>
									<div class="col-md-5">
										<textarea asp-for="ReturnInRequest.ReturnInComment" placeholder="Коментарий к товару" class="form-control-textarea" rows="5"></textarea>
									</div>
								</div>
								<input type="hidden" asp-for="tempQuantity">
								<input type="hidden" asp-for="ReturnInRequest.Id">
								<input type="hidden" name="__RequestVerificationToken" value="@Html.AntiForgeryToken()" />
								<div class="form-actions">
									<div class="row">
										<div class="offset-md-3 col-md-9">
											<button asp-controller="Sell" asp-action="Edit" class="btn btn-primary">Сохранить изменения</button>
											<button type="button" class="btn btn-default" onclick="window.history.back();">Отмена</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="@Url.Content("~/js/editRecord.js")"></script>
<script src="@Url.Content("~/js/сalculatePrice.js")"></script>