@model AgroPharm.Models.ViewModel
<div class="page-content-wrapper">
	<div class="page-content">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="card">
					<div class="card-head">
						<header>Отчёт по закупкам</header>
					</div>
					<div class="card-body" id="bar-parent">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
