@model Product

<div class="page-content-wrapper">
	<div class="page-content" style="min-height:1539px">		
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="card card-box">
					<div class="card-head">
						<header>Наименование товара</header>						
					</div>
					<div class="card-body" id="bar-parent">
						<form asp-controller="Product" asp-action="Create" class="form-horizontal" method="post">
							<div class="form-body">
								<div class="form-group row">
									<label class="control-label col-md-3">
										Наименование товара
										<span class="required" aria-required="true"> * </span>
									</label>
									<div class="col-md-5">
										<input type="text" name="productName" placeholder="Введите наименование новара" class="form-control input-height" required>
									</div>
								</div>								
								<div class="form-actions">
									<div class="row">
										<div class="offset-md-5 col-md-7">
											<button type="submit" class="btn btn-info">Добавить</button>
											<a asp-controller="Product" asp-action="Index" class="btn btn-default">Отмена</a>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>