html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.navbar-nav .nav-link.active {
    color: white !important;
}

.title-dashboard {
    font-size:22px
}

.nav-item.open > .nav-link {
    background-color: #f1f1f1; /* ÷вет фона активного меню */
    color: #333; /* ÷вет текста */
}
.nav-item .nav-link.active {
    background-color: #d1e7fd; /* ÷вет активной ссылки */
    color: #007bff; /* ÷вет текста */
}
