@{
	
}

<!-- start page content -->
<div class="page-content-wrapper">
	<div class="page-content">
		<div class="row">
			<div class="col-md-12">
				<div class="white-box">
					<h3><b>AgroPharm</b> <span class="pull-right">@DateTime.Now</span></h3>
					<hr>
					<div class="row">						
						<div class="col-md-12">
							<div class="table-responsive m-t-40">
								<table class="table table-hover">
									<thead>
										<tr>
											<th class="text-center">#</th>
											<th class="text-right">Fees Type</th>
											<th class="text-right">Frequency</th>
											<th class="text-right">Date</th>
											<th class="text-right">Invoice number</th>
											<th class="text-right">Amount</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-center">1</td>
											<td class="text-right">Annual Fees</td>
											<td class="text-right">Yearly</td>
											<td class="text-right">2016-11-19</td>
											<td class="text-right">#IN-345609865</td>
											<td class="text-right">$100</td>
										</tr>
										<tr>
											<td class="text-center">2</td>
											<td class="text-right">Tuition Fees</td>
											<td class="text-right">Monthly</td>
											<td class="text-right">2016-11-19</td>
											<td class="text-right">#IN-345604565</td>
											<td class="text-right">$50</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-12">
							<div class="pull-right m-t-30 text-right">								
								<h3><b>Total :</b> $164</h3>
							</div>
							<div class="clearfix"></div>
							<hr>
							<div class="text-right">
								<button class="btn btn-danger" type="submit"> Proceed to payment </button>
								<button onclick="javascript:window.print();" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end page content -->